@media (max-width: 390px) {
  .container {
    width: 390px;
    height: 4599px;
    margin: auto;
    overflow: hidden;
    position: relative;
  }
  .container .shadow1 {
    position: absolute;
    width: 376px;
    height: 303px;
    left: -109px;
    top: -125px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.09) 0%, rgba(196, 196, 196, 0) 100%);
  }
  .container .shadow2 {
    position: absolute;
    width: 321.54px;
    height: 190.77px;
    left: 375.01px;
    top: -5.21px;
    background: linear-gradient(180deg, rgba(0, 65, 218, 0.115) 0%, rgba(40, 0, 153, 0.115) 91.72%);
    filter: blur(100px);
    border-radius: 9.71815e;
    transform: rotate(131.65deg);
  }
  .container .shadow3 {
    position: absolute;
    width: 494px;
    height: 398px;
    left: 99px;
    top: 391px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(88, 6, 252, 0.09) 0%, rgba(196, 196, 196, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .container .shadow4 {
    position: absolute;
    width: 182px;
    height: 183px;
    left: 242px;
    top: 1780px;
    background: #929292;
    filter: blur(225px);
  }
  .container .shadow5 {
    position: absolute;
    width: 589.46px;
    height: 349.73px;
    left: 674.06px;
    top: 1989.42px;
    background: linear-gradient(180deg, rgba(0, 65, 218, 0.115) 0%, rgba(40, 0, 153, 0.115) 91.72%);
    filter: blur(100px);
    border-radius: 9.71815e;
    transform: rotate(131.65deg);
  }
  .container .shadow6 {
    position: absolute;
    width: 477.3px;
    height: 283.18px;
    left: 331.81px;
    top: 2756.2px;
    background: linear-gradient(180deg, rgba(0, 65, 218, 0.3) 0%, rgba(40, 0, 153, 0.3) 91.72%);
    filter: blur(100px);
    border-radius: 9.71815e;
    transform: rotate(131.65deg);
  }
  .container .circle {
    box-sizing: border-box;
    position: absolute;
    opacity: 0.4;
  }
  .container .circle1 {
    width: 473.03px;
    height: 473.03px;
    left: 826.98px;
    top: 1497.98px;
  }
  .container .circle2 {
    width: 860.6px;
    height: 860.6px;
    left: 633.2px;
    top: 1304.2px;
  }
  .container .circle3 {
    width: 1401.47px;
    height: 1401.47px;
    left: 217.76px;
    top: 860.26px;
  }
  .container .circle5 {
    width: 1926px;
    height: 1926px;
    left: -44.5px;
    top: 598px;
  }
  .container .ball1 {
    position: absolute;
    top: 1893px;
    left: 413px;
  }
  .container .ball2 {
    position: absolute;
    width: 8.41px;
    height: 8.41px;
    left: 236.5px;
    top: 1727.54px;
    border-radius: 100px;
    background: #6A8BFF;
    opacity: 0.4;
    filter: blur(0.5px);
  }
  .container .header {
    position: absolute;
    top: 37px;
    left: 28px;
    height: 30px;
    width: 334px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container .header .logo {
    position: static;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
  }
  .container .header .menu {
    width: 30px;
    height: 10px;
    display: block;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
  .container .header .navigation {
    display: none;
  }
  .container .header .career-button {
    display: none;
  }
  .container .section1 {
    position: absolute;
    top: 44px;
    left: 0;
    width: 1639.81px;
    height: 722.37px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .container .section1 .background {
    position: absolute;
    width: 1535.39px;
    height: 676.37px;
    left: -880px;
    top: 0;
    opacity: 0.2;
  }
  .container .section1 .equation1 {
    display: none;
  }
  .container .section1 .equation4 {
    width: 235.81px;
    height: 124.29px;
    left: -64.78px;
    top: 405.68px;
    opacity: 1;
    opacity: 0.2;
  }
  .container .section1 .equation5 {
    width: 135.64px;
    height: 51.26px;
    left: 215.78px;
    top: 185.82px;
    opacity: 1;
    opacity: 0.2;
  }
  .container .section1 .formula {
    display: none;
  }
  .container .section1 .element1 {
    width: 96.92px;
    height: 48.77px;
    left: 120px;
    top: 581.29px;
    font-weight: 700;
    font-size: 11.6741px;
    line-height: 14px;
    text-align: center;
  }
  .container .section1 .element2 {
    width: 73.16px;
    height: 29.39px;
    left: 243.18px;
    top: 518.13px;
    font-weight: 400;
    font-size: 8.12874px;
    line-height: 10px;
    text-align: center;
  }
  .container .section1 .element4 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 308.08px;
    top: 581.16px;
    box-sizing: border-box;
    background: #3f509b;
    border-radius: 6.66723px;
    display: inline-block;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container .section1 .element4 .text {
    transform: rotate(-45deg);
    font-size: 8.12874px;
    line-height: 10px;
    text-align: center;
  }
  .container .section1 .element5 {
    width: 48.77px;
    height: 48.77px;
    left: 243.18px;
    top: 722.37px;
    font-weight: 400;
    font-size: 5.62759px;
    line-height: 7px;
    text-align: center;
  }
  .container .section1 .element6 {
    width: 48.77px;
    height: 48.77px;
    left: 378.23px;
    top: 722.37px;
    font-weight: 400;
    font-size: 5.62759px;
    line-height: 7px;
    text-align: center;
  }
  .container .section1 .line {
    position: absolute;
  }
  .container .section1 .line1 {
    width: 61.24px;
    height: 48.45px;
    left: 166.9px;
    top: 526.45px;
  }
  .container .section1 .line2 {
    width: 67.27px;
    height: 9.64px;
    left: 325.72px;
    top: 526.76px;
  }
  .container .section1 .line3 {
    width: 60.02px;
    height: 51.65px;
    left: 382.62px;
    top: 556.78px;
  }
  .container .section1 .line4 {
    width: 56.02px;
    height: 9.64px;
    left: 228.17px;
    top: 601.3px;
  }
  .container .section1 .line5 {
    width: 143.93px;
    height: 61.92px;
    left: 263.19px;
    top: 651.32px;
  }
  .container .section1 .title1 {
    width: 128px;
    height: 17px;
    left: 132px;
    top: 78px;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
  }
  .container .section1 .title2 {
    position: absolute;
    width: 320px;
    height: 150px;
    left: 38px;
    top: 101px;
    font-style: normal;
    font-weight: 900;
    font-size: 40.6px;
    line-height: 61px;
    text-align: center;
    letter-spacing: 0.1px;
  }
  .container .section1 .title2 span {
    font-size: 40.6px;
    font-weight: 700;
    line-height: 61px;
    background: linear-gradient(89.95deg, #487FFF -1.65%, #73B5FF 51.06%, #CB76FF 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 5.14068px 5.14068px rgba(0, 0, 0, 0.25);
  }
  .container .section1 .description {
    width: 267px;
    height: 75px;
    left: 65px;
    top: 231px;
    font-family: 'Mazzard';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #E9E9E9;
  }
  .container .section1 .button-learn {
    border: none;
    position: absolute;
    width: 190px;
    height: 60px;
    left: 103px;
    top: 372px;
    background: linear-gradient(140.6deg, #3E6FF9 -27.18%, #3E53F8 126.06%);
    box-shadow: 0px 0px 49px rgba(42, 7, 254, 0.4);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
    font-size: 18px;
    line-height: 21px;
    font-family: 'Mazzard';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
  }
  .container .section1 .button-learn:hover {
    box-shadow: 0px 0px 49px rgba(42, 7, 254, 0.9);
  }
  .container .section1 .button-learn .budge {
    width: 34px;
    height: 34px;
  }
  .container .section1 .button-learn .arrow {
    position: absolute;
    height: 11px;
    top: 24px;
    left: 5.15px;
  }
  .container .section2 {
    position: absolute;
    top: 894px;
    left: 0;
    width: 100%;
    height: 676.37px;
  }
  .container .section2 .about {
    position: absolute;
    width: 79px;
    height: 18px;
    left: 156px;
    top: 0px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #AAAAAA;
  }
  .container .section2 .global-technologies {
    position: absolute;
    width: 319px;
    height: 95px;
    left: 36px;
    top: 29px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
  }
  .container .section2 .graph {
    position: absolute;
    width: 298.38px;
    height: 319.89px;
    left: 50px;
    top: 164px;
  }
  .container .section2 .start-block {
    position: absolute;
    top: 528px;
    left: 27px;
  }
  .container .section2 .start-block .level {
    width: 91pxpx;
    height: 43px;
    left: 0px;
    top: 0px;
    font-family: 'Mazzard';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 43px;
  }
  .container .section2 .start-block .arrow1 {
    position: absolute;
    top: 62px;
    left: -9px;
  }
  .container .section2 .start-block .arrow2 {
    position: absolute;
    top: 170px;
    left: -9px;
  }
  .container .section2 .start-block .text1 {
    position: absolute;
    top: 62px;
    left: 32.64px;
    width: 317px;
    height: 76px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
  }
  .container .section2 .start-block .text2 {
    position: absolute;
    top: 170px;
    left: 32.64px;
    width: 317px;
    height: 76px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
  }
  .container .section2 .start-block .start-button {
    border: none;
    position: absolute;
    top: 280px;
    left: 0px;
    width: 205px;
    height: 62px;
    background: linear-gradient(140.6deg, #3E6FF9 -27.18%, #3E53F8 126.06%);
    box-shadow: 0px 0px 49px rgba(42, 7, 254, 0.4);
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    font-family: 'Mazzard';
  }
  .container .section2 .start-block .start-button:hover {
    box-shadow: 0px 0px 49px rgba(42, 7, 254, 0.9);
  }
  .container .border {
    border: 1px solid white;
  }
  .container .section3 {
    position: absolute;
    width: 100%;
    height: 800px;
    top: 1862px;
    left: 0;
  }
  .container .section3 .element {
    width: 162.25px;
    height: 52.28px;
    background: #000000;
    border-radius: 10.8167px;
    font-weight: 400;
    font-size: 14.4222px;
    line-height: 170%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border: 0.5px solid rgba(109, 109, 109, 0.5);
  }
  .container .section3 .block1 {
    position: absolute;
    width: 334px;
    height: 180px;
    left: 28px;
    top: 321px;
    background: radial-gradient(100% 100% at 0% 0%, rgba(173, 180, 255, 0.15) 0%, rgba(163, 178, 250, 0.01) 100%);
    backdrop-filter: blur(10.6195px);
    border: 0.9px solid rgba(159, 159, 159, 0.4);
    border-radius: 25.2389px;
  }
  .container .section3 .block1 .line1 {
    top: 165.6px;
    left: 73.29px;
    width: 28.04px;
    transform: rotate(90deg);
  }
  .container .section3 .block1 .line2-1 {
    position: absolute;
    width: 138px;
    height: 5px;
    left: 101px;
    top: 145px;
    opacity: 0.8;
    transform: rotate(-90deg);
  }
  .container .section3 .block1 .line2-2 {
    position: absolute;
    width: 166px;
    height: 0px;
    left: 85px;
    top: 214px;
    opacity: 0.4;
    border: 1px solid #B7B6BB;
  }
  .container .section3 .block1 .line2-3 {
    position: absolute;
    width: 24px;
    height: 5px;
    left: 73px;
    top: 224px;
    opacity: 0.8;
    transform: rotate(90deg);
  }
  .container .section3 .block1 .line2-4 {
    position: absolute;
    width: 24px;
    height: 5px;
    left: 241px;
    top: 224px;
    opacity: 0.8;
    transform: rotate(90deg);
  }
  .container .section3 .block1 .line3 {
    position: absolute;
    width: 24px;
    height: 5px;
    left: 242px;
    top: 166px;
    opacity: 0.8;
    transform: rotate(90deg);
  }
  .container .section3 .block1 .element {
    text-align: center;
    font-family: 'Mazzard';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
  }
  .container .section3 .block1 .element1 {
    position: absolute;
    width: 130px;
    height: 58px;
    left: 20px;
    top: 98px;
    z-index: 1;
  }
  .container .section3 .block1 .element2 {
    position: absolute;
    width: 130px;
    height: 58px;
    left: 184px;
    top: 98px;
    z-index: 1;
  }
  .container .section3 .block1 .element3 {
    position: absolute;
    width: 160px;
    height: 58px;
    left: 87px;
    top: 20px;
    z-index: 1;
  }
  .container .section3 .element4 {
    position: absolute;
    width: 150px;
    height: 58px;
    left: 28px;
    top: 559px;
    background: #000000;
    border-radius: 12px;
    z-index: 1;
  }
  .container .section3 .element5 {
    position: absolute;
    width: 150px;
    height: 58px;
    left: 212px;
    top: 559px;
    background: #000000;
    border-radius: 12px;
    z-index: 1;
  }
  .container .section3 .block2 {
    position: absolute;
    width: 334px;
    height: 276px;
    left: 28px;
    top: 653px;
    background: radial-gradient(100% 100% at 0% 0%, rgba(94, 94, 94, 0.15) 0%, rgba(216, 216, 216, 0) 100%);
    box-shadow: inset -4.50695px -4.50695px 225.348px rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(12.6195px);
    border-radius: 25.2389px;
    border: 0.9px solid rgba(159, 159, 159, 0.4);
  }
  .container .section3 .block2 .budge {
    position: absolute;
    left: 140px;
    top: 91px;
  }
  .container .section3 .block2 .text {
    position: absolute;
    width: 230px;
    height: 60px;
    left: 52px;
    top: 165px;
    font-family: 'Mazzard';
    font-style: normal;
    font-weight: 400;
    font-size: 14.4222px;
    line-height: 138%;
    /* or 20px */
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
  }
  .container .section3 .block2 .element6 {
    width: 130px;
    height: 58px;
    left: 184px;
    top: 24px;
    z-index: 1;
  }
  .container .section3 .block2 .element7 {
    position: absolute;
    width: 130px;
    height: 58px;
    left: 20px;
    top: 24px;
    z-index: 1;
  }
  .container .section3 .block2 .line4 {
    position: absolute;
    width: 74px;
    height: 8px;
    left: 51px;
    top: -14px;
    opacity: 0.8;
    transform: rotate(90deg);
  }
  .container .section3 .block2 .line5 {
    position: absolute;
    width: 74px;
    height: 8px;
    left: 213px;
    top: -14px;
    opacity: 0.8;
    transform: rotate(90deg);
  }
  .container .section3 .block2 .arrow1-1 {
    position: absolute;
    top: 247px;
    left: 154px;
    height: 52px;
  }
  .container .section3 .block2 .arrow1-2 {
    position: absolute;
    top: 297px;
    left: 149.4px;
  }
  .container .section3 .block2 .arrow2-1 {
    position: absolute;
    height: 52px;
    top: 253px;
    left: 183px;
    transform: rotate(180deg);
  }
  .container .section3 .block2 .arrow2-2 {
    position: absolute;
    top: 249.8px;
    left: 178.32px;
    transform: rotate(180deg);
  }
  .container .section3 .block2 .consumers {
    position: absolute;
    top: 323px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16.225px;
    line-height: 170%;
    font-feature-settings: 'pnum' on, 'lnum' on;
  }
  .container .section3 .text-block {
    position: absolute;
    width: 415px;
    height: 444px;
    top: 0px;
    left: 0px;
  }
  .container .section3 .text-block .title {
    position: absolute;
    width: 385px;
    height: 126px;
    left: 28px;
    top: 0px;
    font-family: 'Mazzard';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 120%;
    letter-spacing: 0.02em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
  }
  .container .section3 .text-block .title span {
    font-weight: 800;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.02em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    background: linear-gradient(89.95deg, #487FFF -1.65%, #73B5FF 51.06%, #CB76FF 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .container .section3 .text-block .description {
    position: absolute;
    width: 334px;
    height: 72px;
    left: 28px;
    top: 156px;
    font-family: 'Mazzard';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    opacity: 0.8;
  }
  .container .section3 .text-block .learn-more {
    position: absolute;
    top: 249px;
    left: 28px;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0.01em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #7B93FF;
  }
  .container .section4 {
    position: absolute;
    left: 0;
    top: 2965px;
    width: 100%;
    height: 464px;
  }
  .container .section4 .card {
    position: absolute;
    background: #0A0A0D;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 46px;
    border: 2px solid rgba(159, 159, 159, 0.2);
  }
  .container .section4 .card:hover {
    box-shadow: 0px 0px 49px rgba(42, 7, 254, 0.4);
  }
  .container .section4 .card1 {
    position: absolute;
    width: 334px;
    height: 476px;
    left: 28px;
    top: 0px;
    background: #0A0A0D;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 46px;
  }
  .container .section4 .card1 .light1 {
    position: absolute;
    width: 256.79px;
    height: 167.46px;
    left: -24.15px;
    top: -16.92px;
    background: rgba(47, 47, 45, 0.8);
    filter: blur(97px);
  }
  .container .section4 .card1 .light2 {
    border: 1px solid white;
    position: absolute;
    width: 256.79px;
    height: 167.46px;
    right: -41.95px;
    bottom: -20.3px;
    background: rgba(47, 47, 45, 0.8);
    filter: blur(97px);
  }
  .container .section4 .card1 .background-image {
    position: absolute;
    width: 334px;
    height: 497.4px;
    left: 1.49px;
    top: 227px;
    transform: rotate(-1.36deg);
  }
  .container .section4 .card1 .description {
    position: absolute;
    width: 121px;
    height: 18px;
    left: 27px;
    top: 35px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #AAAAAA;
  }
  .container .section4 .card1 .title {
    position: absolute;
    width: 265.47px;
    height: 117px;
    left: 27px;
    top: 78px;
    font-size: 32.2759px;
    line-height: 120%;
    letter-spacing: 0.02em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    opacity: 0.9;
  }
  .container .section4 .card1 .title span {
    font-weight: 700;
    font-size: 32.2759px;
    line-height: 120%;
    letter-spacing: 0.02em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    background: linear-gradient(89.95deg, #487FFF -1.65%, #73B5FF 51.06%, #CB76FF 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .container .section4 .card1 .learn-more {
    position: absolute;
    width: 85px;
    height: 18px;
    left: 27px;
    top: 221px;
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
  }
  .container .section4 .card2 {
    position: absolute;
    width: 334px;
    height: 304px;
    left: 28px;
    top: 522.4px;
    background: #0A0A0D;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 46px;
    overflow: hidden;
  }
  .container .section4 .card2 .description {
    position: absolute;
    width: 121px;
    height: 18px;
    left: 24px;
    top: 24.46px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #AAAAAA;
  }
  .container .section4 .card2 .title {
    position: absolute;
    width: 244px;
    height: 116px;
    left: 23px;
    top: 94px;
    font-family: 'Mazzard';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    color: #FFFFFF;
    opacity: 0.9;
  }
  .container .section4 .card2 .title span {
    font-weight: 700;
    font-size: 30px;
    line-height: 43px;
    color: #FFFFFF;
  }
  .container .section4 .card2 .learn-more {
    position: absolute;
    width: 85px;
    height: 18px;
    left: 24px;
    top: 261px;
    font-family: 'Mazzard';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
  }
  .container .section4 .card2 .light1 {
    position: absolute;
    width: 256.79px;
    height: 167.46px;
    left: -16.66px;
    top: -8.76px;
    background: rgba(47, 47, 45, 0.8);
    filter: blur(97px);
  }
  .container .section4 .card2 .light2 {
    border: 1px solid white;
    position: absolute;
    width: 256.79px;
    height: 167.46px;
    right: -126px;
    bottom: -147px;
    background: rgba(47, 47, 45, 0.8);
    filter: blur(97px);
  }
  .container .section4 .card3 {
    position: absolute;
    width: 334px;
    height: 304px;
    left: 28px;
    top: 853px;
    background: #0A0A0D;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 46px;
    overflow: hidden;
  }
  .container .section4 .card3 .description {
    position: absolute;
    width: 130px;
    height: 18px;
    left: 24px;
    top: 24.46px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #AAAAAA;
  }
  .container .section4 .card3 .title {
    position: absolute;
    width: 244px;
    height: 116px;
    left: 23px;
    top: 94px;
    font-family: 'Mazzard';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    color: #FFFFFF;
    opacity: 0.9;
  }
  .container .section4 .card3 .title span {
    font-weight: 700;
    font-size: 30px;
    line-height: 43px;
    color: #FFFFFF;
  }
  .container .section4 .card3 .learn-more {
    position: absolute;
    width: 85px;
    height: 18px;
    left: 24px;
    top: 261px;
    font-family: 'Mazzard';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
  }
  .container .section4 .card3 .light1 {
    position: absolute;
    width: 256.79px;
    height: 167.46px;
    left: -16.66px;
    top: -8.76px;
    background: rgba(47, 47, 45, 0.8);
    filter: blur(97px);
  }
  .container .section4 .card3 .light2 {
    border: 1px solid white;
    position: absolute;
    width: 256.79px;
    height: 167.46px;
    right: -126px;
    bottom: -147px;
    background: rgba(47, 47, 45, 0.8);
    filter: blur(97px);
  }
  .container .section4 .card4 {
    position: absolute;
    width: 334px;
    height: 426px;
    left: 28px;
    top: 1181.4px;
    background: #0A0A0D;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 46px;
    overflow: hidden;
  }
  .container .section4 .card4 .background-image {
    position: absolute;
    width: 328.24px;
    height: 235px;
    left: 83px;
    top: 213px;
  }
  .container .section4 .card4 .description {
    position: absolute;
    width: 130px;
    height: 18px;
    left: 24px;
    top: 35px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #AAAAAA;
  }
  .container .section4 .card4 .title {
    position: absolute;
    width: 244px;
    height: 116px;
    left: 23px;
    top: 93px;
    font-family: 'Mazzard';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    color: #FFFFFF;
    opacity: 0.9;
  }
  .container .section4 .card4 .title span {
    font-weight: 700;
    font-size: 30px;
    line-height: 43px;
    color: #FFFFFF;
  }
  .container .section4 .card4 .learn-more {
    position: absolute;
    width: 85px;
    height: 18px;
    left: 24px;
    top: 220px;
    font-family: 'Mazzard';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
  }
  .container .section4 .card4 .light1 {
    position: absolute;
    width: 374.12px;
    height: 73.43px;
    left: -35.19px;
    top: -7.42px;
    background: rgba(47, 47, 45, 0.8);
    filter: blur(97px);
  }
  .container .section4 .card4 .light2 {
    position: absolute;
    width: 206px;
    height: 175px;
    right: -36px;
    bottom: -24px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.07) 0%, rgba(196, 196, 196, 0) 100%);
    opacity: 0.68;
  }
}
